<% if (user) {%>
    <h1>WELCOME BACK <%= user.firstname %> <%= user.lastname %></h1>
    <a href="/log-out">Create a New Message</a>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>please log in</h1>  
    
  <%}%>

  <% for (let i = 0; i < messages.length; i++) { %>
    <div class="message-container">
      <div class="message">
        <% if (user) {%>
          <div class="author"> 
            <%= messages[i].firstname %> <%= messages[i].lastname %>
          </div>
          <% }%>   
        <h4 class="user"><%= messages[i].title %> </h4>
        <%= messages[i].text %> 
        <% if (user) {%>
        <div class="date"> 
          <%= messages[i].timestamp.toLocaleString() %> 
        </div>
        <% }%>      
      </div>   
      <% if (user) {%> 
        <% if (user.is_admin) {%>
          <form method="POST" action="/messages/<%= messages[i].id %>/delete">
            <button type="submit"
            onclick="return confirm('Are you sure?')">Delete</button>
          </form>          
        <% }%> 
      <% }%>    
    </div>
    <% } %> 
