<% if (user) {%>
    <h1 class="text-center mt-2">WELCOME BACK <span class="text-primary font-bold"><%= user.firstname %> <%= user.lastname %></span></h1>    
  <% } else { %>
    <h1 class="text-center p-4"><a href="/log-in">Log in</a> to see more</h1>  
    
  <%}%>

  <div class="mx-auto grid max-w-[1000px]">
    <% for (let i = 0; i < messages.length; i++) { %>    
      <div class="m-4 shadow-md rounded-lg bg-primary-dark text-white px-4 py-4">
        <% if (user) {%>
          <div class="bg-violet-300 p-1"> 
            <%= messages[i].firstname %> <%= messages[i].lastname %>
          </div>
          <% }%>   
        <div class="font-bold text-gray-300"><%= messages[i].title %> </div>
        <%= messages[i].text %> 
        <% if (user) {%>
        <div class="text-xs"> 
          <%= messages[i].timestamp.toLocaleString() %> 
        </div>
        <% }%>      
      </div>   
      <% if (user) {%> 
        <% if (user.is_admin) {%>
          <form method="POST" action="/messages/<%= messages[i].id %>/delete">
            <button type="submit"
            onclick="return confirm('Are you sure?')">Delete</button>
          </form>          
        <% }%> 
      <% }%>   
    <% } %> 
  </div>
  
